<?xml version="1.0" encoding="UTF-8" ?>
<data>

  <environment>
    <gridWidth>20</gridWidth>
    <gridHeight>20</gridHeight>
    <hexSize>2</hexSize>
    <baseX>0</baseX>
    <baseY>0</baseY>
    <dbGridSizeX>10</dbGridSizeX>
    <dbGridSizeZ>10</dbGridSizeZ>
  </environment>

  <spawnCoords>
    <spawnCoord>
      <x>19</x>
      <y>19</y>
    </spawnCoord>
  </spawnCoords>

  <invisibleCoords>
    <invisibleCoord>
      <x>0</x>
      <y>10</y>
    </invisibleCoord>
    <invisibleCoord>
      <x>1</x>
      <y>10</y>
    </invisibleCoord>
    <invisibleCoord>
      <x>2</x>
      <y>10</y>
    </invisibleCoord>
    <invisibleCoord>
      <x>3</x>
      <y>10</y>
    </invisibleCoord>
    <invisibleCoord>
      <x>4</x>
      <y>10</y>
    </invisibleCoord>
    <invisibleCoord>
      <x>5</x>
      <y>10</y>
    </invisibleCoord>
    <invisibleCoord>
      <x>6</x>
      <y>10</y>
    </invisibleCoord>
    <invisibleCoord>
      <x>7</x>
      <y>10</y>
    </invisibleCoord>
    <invisibleCoord>
      <x>8</x>
      <y>10</y>
    </invisibleCoord>
    <invisibleCoord>
      <x>9</x>
      <y>10</y>
    </invisibleCoord>
    <invisibleCoord>
      <x>11</x>
      <y>10</y>
    </invisibleCoord>
    <invisibleCoord>
      <x>12</x>
      <y>10</y>
    </invisibleCoord>
    <invisibleCoord>
      <x>13</x>
      <y>10</y>
    </invisibleCoord>
    <invisibleCoord>
      <x>14</x>
      <y>10</y>
    </invisibleCoord>
    <invisibleCoord>
      <x>15</x>
      <y>10</y>
    </invisibleCoord>
    <invisibleCoord>
      <x>16</x>
      <y>10</y>
    </invisibleCoord>
    <invisibleCoord>
      <x>17</x>
      <y>10</y>
    </invisibleCoord>
    <invisibleCoord>
      <x>18</x>
      <y>10</y>
    </invisibleCoord>
    <invisibleCoord>
      <x>19</x>
      <y>10</y>
    </invisibleCoord>
  </invisibleCoords>

  <wallCoords>
    <wallCoord>
      <x>5</x>
      <y>5</y>
    </wallCoord>
    <wallCoord>
      <x>5</x>
      <y>6</y>
    </wallCoord>
    <wallCoord>
      <x>5</x>
      <y>7</y>
    </wallCoord>
    <wallCoord>
      <x>5</x>
      <y>8</y>
    </wallCoord>
    <wallCoord>
      <x>5</x>
      <y>9</y>
    </wallCoord>
  </wallCoords>

  <waves>
    <wave>
      <enemyTypes>
        <enemyType>
          <type>TestEnemy</type>
          <count>400</count>
        </enemyType>
      </enemyTypes>
      <spawnRate>0.1</spawnRate>
    </wave>
    <wave>
      <enemyTypes>
        <enemyType>
          <type>TestEnemy</type>
          <count>100</count>
        </enemyType>
      </enemyTypes>
      <spawnRate>0.1</spawnRate>
    </wave>
  </waves>

  <player>
    <startCurrency>500</startCurrency>
  </player>

</data>
